CarDealerBeta/Models/obj/
CarDealerBeta/Tests/obj/
CarDealerBeta/.vs/
CarDealerBeta/packages/
CarDealerBeta/CarDealerBeta/bin/
CarDealerBeta/CarDealerBeta/obj/
CarDealerBeta/Data/bin/
CarDealerBeta/Data/obj/
CarDealerBeta/CarDealerBeta/Properties/PublishProfiles/
