@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<span class="control-label">
    Name
</span>
<input type="text" class="form-control" name="Name" id="Name" placeholder="Name" />

<span class="control-label">
    Email
</span>
<input type="text" class="form-control" name="Email" id="Email" placeholder="Email" />

<span class="control-label">
    Phone
</span>
<input type="text" class="form-control" name="Phone" id="Phone" placeholder="Phone" />

<span class="control-label">
    Message
</span>
<input type="text" class="form-control" name="Message" id="Message" placeholder="Message" />
<p></p>
<input type="submit" value="Submit" class="btn btn-primary" />