
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    ADD USER STUFF HERE
</body>
</html>